@media only screen and (min-width : 320px) and (max-width: 767px) {
    .scrollIcon2, .scrollIcon3{width:60px;height:45px;margin-left:-30px;}
    .scrollIcon3{background-position:0 -45px;}
    .title{margin-bottom:30px;}

    #home{padding-top:20px;}
    #home h2{font-size:25px;}
    .homeCall{margin-top:30px;}
    .homeCall span{font-size:30px;}
    .homeCall span small{font-size:14px;line-height: 16px;}

    .stepWrap{font-size:12px;background-position-y:23px;}
    .steps .number{width:45px;height:45px;font-size:20px;line-height:45px}

    .section{padding-top:60px;padding-bottom:70px;}
    .meh{width:140px;overflow: hidden;}

    #howWorks img{width:300px;margin:0 auto;}
    #howWorks .columns{margin-bottom: 20px}

    .titleLogin, .titleSignIn{margin-bottom:20px;}
    .titleLogin{margin-top:30px;}

    .contactFormMsg ul{margin-left:40px;}

    .status:before{display: block;width:100%;}
    .status a.retry{width:100%;margin-top:20px;}
    
    .planBox .bg{padding-top:20px;}
    .planBox li{margin-bottom:10px;}
    .planBox .planPrice{height: auto;margin: 20px 0;}

    #myTable strong{font-size:16px;}

    #payment .logo{width: 250px}
    #payment #myTable td {line-height: 20px;padding-top:10px;padding-bottom:10px;}
    #payment .cupomSubmit{margin-bottom:10px;}
    #payment .cartoes li{padding:0;margin-left: 20px;}
}
@media only screen and (min-width : 480px) and (max-width: 767px) {
    #home h2{font-size:30px;}
    .homeCall span{font-size:40px;}
    .homeCall span small{font-size:20px;line-height: 22px;}
    .stepWrap{font-size:14px;}

    .top{margin:0 0 10px 10px}
    

    .contactFormMsg ul{margin-left:115px;}

    #payment .cartoes li{margin-left: 17px;}
}
@media only screen and (min-width : 540px) and (max-width: 767px) {
    #payment .cartoes li{margin-left: 25px;}

}
@media only screen and (min-width : 640px) and (max-width: 767px) {
    .logo{margin-left:50px;}
    #payment .cartoes li{margin-left: 42px;}
    .contactFormMsg ul{margin-left:195px;}
}
@media only screen and (min-width : 768px) and (max-width: 768px) {
    .navBg li{margin-left:0;}
    .navBg li a.n{font-size:14px}
    
    .contactFormMsg ul{margin-left:35px;}
    #payment .cartoes li{margin-left: 65px;padding: 0;}
}
@media only screen and (min-width :800px) and (max-width: 800px){
    .navBg li{margin-left:0;}
    .navBg li a.n{font-size:14px}
    #payment .cartoes li{padding:0 30px;}
}